<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн Викторина</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav class="navbar">
        <div class="nav-container">
            <a class="nav-brand" href="/">Викторина</a>
            <a class="nav-brand" href="/admin/add">Добавить Вопрос</a>
        </div>
    </nav>

    <div class="main-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>